@model IEnumerable<WebSchools.Models.Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SpArea/Views/Shared/_SpArea.cshtml";
}
<div class="sp_right fix">
    @Html.Partial("~/Views/Shared/_admin_top_header.cshtml", null)
    <div class="row">
        <div class="col-md-4 justify-content-center">
            <h1 class="text-muted text-center">Admins Page</h1>
        </div>
    </div>
</div>