
@{
    ViewBag.Title = "Tutorials";
    Layout = "~/Views/Shared/_D.cshtml";
}

<style>
    #topHamBurger {
        border-bottom: 5px solid #ccc;
    }

    #navMenuId {
        display: none;
    }

</style>
<h2>WebSchools all Tutorials</h2>

