@model WebSchools.Models.Jquery.JqueryExample
@{
    ViewBag.Title = "Try It jQuery - " + @Model.ExampleHeading;
    Layout = "~/Views/Shared/_tryIt.cshtml";
}

<div class="container_wrapper editor_wrapper fix">
    <ul class="try_it_menu">
        <li id="run_button">Run</li>
        <li class="toggle_editor_color">
            <span>Light</span>
            <span>Dark</span>
        </li>
    </ul>
    <div class="editor">
        <textarea class="editor_codes">
            @Model.ExampleOutput
        </textarea>

        <div id="editor_result"></div>
    </div>

</div>
