
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Ict/Views/Shared/_Ict.cshtml";
}

<div class="jumbotron text-center" style="height: 100vh;">
    <h2 class="text-muted card-header">Welcome to ICT tutorials</h2>
    <p>This tutorial is coming soon.</p>
    <hr/>
</div>

