<div class="container_wrapper" id="footer">
    <div class="social_wrapper fix">
        <ul class="social_menu">
            <li><a href="https://www.facebook.com/md.towhid.7583" target="_blank"><span><i class="fa fa-facebook-square"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-linkedin"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-google-plus"></i></span></a></li>
            <li><a  href="#"><span><i class="fa fa-twitter-square"></i></span></a></li>
            <li><a  href="#"><span><i class="fa fa-instagram"></i></span></a></li>
        </ul>
    </div>

    <nav class="footer_nav_wrapper fix">
        <div class="footer_fixed">
            <ul class="footer_menu float_left">
                <li>
                    <p>WebSchool</p>
                </li>
                <li><a href="javascript:void(0)">Home page</a></li>
                <li><a href="javascript:void(0)">Webschool Template</a></li>
            </ul>
            <ul class="footer_menu float_left">
                <li>
                    <p>WebSchool Tutorials</p>
                </li>
                <li><a href="javascript:void(0)">HTML</a></li>
                <li><a href="javascript:void(0)">CSS</a></li>
                <li><a href="javascript:void(0)">Javascript</a></li>
                <li><a href="javascript:void(0)">jQuery</a></li>
                <li><a href="javascript:void(0)">SQL</a></li>
                <li><a href="javascript:void(0)">C#</a></li>
                <li><a href="javascript:void(0)">ASP.NET</a></li>
            </ul>
            <ul class="footer_menu float_left">
                <li> 
                    <p>Other</p>
                </li>
                <li><a href="~/team/index/">Team</a></li>
            </ul>
            <ul class="footer_menu float_left">
                <li>
                    <p>Legal/Contact</p>
                </li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                <li><a href="javascript:void(0)">newtowhid1232@gmail.com</a></li>
            </ul>
        </div>
    </nav>

    <div class="footer_copy_right fix">
        <div class="footer_fixed end_footer" style="margin-top: 50px;">
            <p>My Vision is to</p>
            <h3>Make website more easier for you.</h3>
            <span></span>
            <p>Chittagong</p>
            <p>Chittagong-400, Bangladesh</p>
            <p>Copyright &copy; @DateTime.Now.Year WebSchools.com.bd All right reserved</p>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var footerHeight = $('#footer').height();
        $('.marginBottom').css({
            marginBottom: footerHeight,
            boxShadow: '0 8px 6px -6px black',
            borderBottomLeftRadius: '5px',
            borderBottomRightRadius: '5px'
        });
    });
</script>





