<div class="inner_page_footer_wrap fix">
    <div class="inner_page_footer_elems">
        <h3>ওয়েব স্কুল</h3>
        <p>কপিরাইট &copy; @DateTime.Now.Year <a href="~/index/index/">ওয়েবস্কুল</a> সমস্ত অধিকার সংরক্ষিত</p>
    </div>
    <div class="spin_animation1"></div>
    <div class="spin_animation2"></div>
    <div class="spin_animation3"></div>
</div>