
<div class="container_wrapper menu_new_style" style="">
    <div class="container_fixed">
        <header id="header">
            <div class="float_left">



                <ul class="top_menu webschools_logo">
                    <li><a href="~/Index/Index"><img src="~/Images/ws_logo3.png" /></a></li>
                </ul>
            </div>
            <nav class="float_right hide_sm_devices">
                <div class="ffff">
                    <ul class="top_menu">
                        <li class=""><a href="~/html/htmlTutorial/Index/"><span> <i class="fa fa-html5"></i></span> এইচটিএমএল</a></li>
                        <li><a href="~/css/cssTutorial/css/">সিএসএস <span> <i class="fa fa-css3"></i></span></a></li>
                        <li><a href="~/javaScript/javaScriptTutorial/Js/">জাভাস্ক্রিপ্ট <span class="js_logo"><i class="fa fa-js-square"></i> JS</span></a></li>
                        <li><a href="/jquery/jqueryTutorial/jq/jq_default">জেকুয়েরি</a></li>
                        <li><a href="~/sql/sqlTutorial/sql/">এসকিউএল</a></li>
                        <li><a href="~/php/phpTutorial/php/">পিএইচপি</a></li>
                    </ul>
                </div>
            </nav>
            <!-- Toggle Bars Icon #toogle_button-->
            <div class="float_right hide_lg_devices">
                <ul class="top_menu" id="toogle_button">
                    <li><a href="javascript:void(0)"><i class="fa fa-th-list"></i></a></li>
                </ul>
            </div>
        </header>
    </div>
    <nav class="hide_lg_devices">
        <ul class="top_menu_for_sm_devices" id="toggle_sm_top_menu" style="">
            <li class="active"><a href="~/html/htmlTutorial/Index/"><span> <i class="fa fa-html5"></i></span> এইচটিএমএল</a></li>
            <li><a href="~/css/cssTutorial/css/">সিএসএস <span> <i class="fa fa-css3"></i></span></a></li>
            <li><a href="~/javaScript/javaScriptTutorial/Js/">জাভাস্ক্রিপ্ট <span class="js_logo"><i class="fa fa-js-square"></i> JS</span></a></li>
            <li><a href="/jquery/jqueryTutorial/jq/jq_default">জেকুয়েরি</a></li>
            <li><a href="~/sql/sqlTutorial/sql/">এসকিউএল</a></li>
            <li><a href="~/php/phpTutorial/php/">পিএইচপি</a></li>
        </ul>
    </nav>
</div>