<div class="lang_box fix" id="cssId">

    <div class="float_left desc fix">
        <div class="desc_top">
            <div class="lang_icon">
                <h1>সিএসএস ৩</h1>
            </div>
            <p>
                সিএসএস একটি প্রোগ্রামিং ভাষা যা এইচটিএমএল ডকুমেন্টকে সুদর্শনীয় করে তোলার জন্য ব্যবহৃত হয়।
                একটি এইচটিএমএল এলিমেন্টকে কিভাবে প্রদর্শন করানো হবে তা সিএসএসের মাধ্যমে নির্ধারণ করে দেওয়া হয়।
            </p>

        </div>
        <div class="desc_bottom">
            <div class="lang_syntax_header">
                <h4>সিএসএস প্রোগ্রামিং ভাষার সিনটেক্স</h4>
            </div>

            <div class="tutorial_example ex_box">
                <code><span class="tag_name_color">body</span><span class="css_curley_bracet"> {</span>  <br /> <span class="css_property">background: lightblue;</span> <br /><span class="css_curley_bracet">}</span> </code>
                <br />
                <code><span class="tag_name_color">p</span><span class="css_curley_bracet"> {</span>  <br /> <span class="css_property">color: lightblue;<br /><span style="margin-left: 20px;">font-family: arila;</span></span> <br /><span class="css_curley_bracet">}</span> </code>
            </div>
            
        
            <div class="intro">
                ডান পাশের ওয়েব সাইট ডেমোটিতে সিএসএস প্রয়োগ করার পরে।
            </div>
            <a href="~/css/cssTutorial/css/" class="next_page">সিএসএস শিখুন <span class="raquo">&raquo;</span></a>
        </div>
    </div>
    <div class="float_right demo fix" title="Applied CSS">

        <div class="demo_web_wrapper">
            <ul class="demo_web_main_nav" style="list-style-type: disc">
                <li><a href="javascript:void(0)">Navbar</a></li>
                <li><a href="javascript:void(0)">Link 1</a></li>
                <li><a href="javascript:void(0)">Link 2</a></li>
                <li><a href="javascript:void(0)">Link 3</a></li>
            </ul>
        </div>
        <div class="demo_web_left float_left">

            <h3>Lorem ipsum dolor</h3>
            <p>Consectetur adipisicing elit</p>
            <div class="demo_div"></div>
            <p>Consectetur adipisicing elitConsectetur adipisicing elit</p>

            <h3>Some Links</h3>
            <p>Consectetur adipisicing elit</p>
            <ul class="demo_web_nav" style="list-style-type: disc">
                <li class="active"><a href="javascript:void(0)">Active</a></li>
                <li><a href="javascript:void(0)">Link 1</a></li>
                <li><a href="javascript:void(0)">Link 2</a></li>
                <li><a href="javascript:void(0)">Link 3</a></li>
            </ul>
        </div>

        <div class="demo_web_right float_right">
            <h3>Title Heading Apr 3, 2019</h3>
            <p>Consectetur adipisicing elitConsectetur adipisicing elit</p>
            <div class="demo_div_right">

            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation. sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <h3>Title Heading Apr 4, 2019</h3>
            <p>Consectetur adipisicing elitConsectetur adipisicing elit</p>
            <div class="demo_div_right">

            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation. sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <a href="#javaScriptId">জাভাস্ক্রিপ্ট প্রয়োগ করুন &raquo;</a>
        </div>
    </div>
</div>