
<div class="lang_box" id="htmlId">
    <div class="float_left desc">
        <div class="desc_top">
            <div class="lang_icon">
                <h1>এইচটিএমএল ৫</h1>
            </div>
            <p>
                হাইপারটেক্সট মার্কআপ ভাষা (এইচটিএমএল) ওয়েব পেজ এবং ওয়েব অ্যাপ্লিকেশন তৈরির জন্য আদর্শ মার্কআপ ভাষা।
            </p>

            <div class="intro">
                ডান পাশের ওয়েব সাইট ডেমোটি এইচটিএমএল ৫ দ্বারা মার্কড আপ করা হয়েছে।
            </div>
        </div>
        <div class="desc_bottom">
            <div class="lang_syntax_header">
                <h4>এইচটিএমএল ভাষার সিনটেক্স</h4>
            </div>
            <div class="tutorial_example ex_box">
                <code><span class="ang_color">&lt;</span><span class="tag_name_color">!DOCTYPE html</span><span class="ang_color">&gt;</span></code>
                <br />
                <code><span class="ang_color">&lt;</span><span class="tag_name_color">html</span><span class="ang_color">&gt;</span></code>
                <br />
                <code><span class="ang_color">&lt;</span><span class="tag_name_color">head</span><span class="ang_color">&gt;</span></code>
                <br />
                <code><span class="ang_color">&lt;</span><span class="tag_name_color">title</span><span class="ang_color">&gt;</span></code>

                <code><span class="tag_text">ওয়েব স্কুল এইচটিএমএল টিউটোরিয়াল</span><span class="ang_color">&lt;</span><span class="tag_name_color">/title</span><span class="ang_color">&gt;</span></code>
                <br />

                <code><span class="ang_color">&lt;</span><span class="tag_name_color">/head</span><span class="ang_color">&gt;</span></code>
                <br />
                <code><span class="ang_color">&lt;</span><span class="tag_name_color">body</span><span class="ang_color">&gt;</span></code>
                <br />

                <code><span class="ang_color">&lt;</span><span class="tag_name_color">p</span><span class="ang_color">&gt;</span></code>
                <code><span class="tag_text">এটি একটি অনুচ্ছেদ</span><span class="ang_color">&lt;</span><span class="tag_name_color">/p</span><span class="ang_color">&gt;</span></code>

                <br />
                <code><span class="ang_color">&lt;</span><span class="tag_name_color">/body</span><span class="ang_color">&gt;</span></code>
                <br />
                <code><span class="ang_color">&lt;</span><span class="tag_name_color">/html</span><span class="ang_color">&gt;</span></code>

            </div>
            <a href="~/html/htmlTutorial/index/" class="next_page">এইচটিএমএল শিখুন <span class="raquo">&raquo;</span></a>
        </div>
    </div>
    <div class="float_right demo fix" title="Not Applied CSS">
        <div class="">
            <ul class="" style="list-style-type: disc">
                <li><a href="javascript:void(0)">Navbar</a></li>
                <li><a href="javascript:void(0)">Link 1</a></li>
                <li><a href="javascript:void(0)">Link 2</a></li>
                <li><a href="javascript:void(0)">Link 3</a></li>
            </ul>
        </div>
        <div class=" float_left">

            <h3>Lorem ipsum dolor</h3>
            <p>Consectetur adipisicing elit</p>
            <div class=""></div>
            <p>Consectetur adipisicing elitConsectetur adipisicing elit</p>

            <h3>Lorem ipsum dolor</h3>
            <p>Consectetur adipisicing elit</p>
            <ul class="" style="list-style-type: disc">
                <li class="active"><a href="javascript:void(0)">Active</a></li>
                <li><a href="javascript:void(0)">Link 1</a></li>
                <li><a href="javascript:void(0)">Link 2</a></li>
                <li><a href="javascript:void(0)">Link 3</a></li>
            </ul>
        </div>

        <div class=" float_right">
            <h2>Title Heading Apr 3, 2019</h2>
            <p>Consectetur adipisicing elitConsectetur adipisicing elit</p>
            <div class="">

            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>



            <a href="#cssId">এইচটিএমএলের এই ডেমুতে সিএসএস প্রয়োগ করুন &raquo;</a>
        </div>
    </div>
</div>