<div class="lang_box" id="ictId">
    <div class="float_left desc" style="width: 100%">
        <div class="desc_top">
            <div class="lang_icon">
                <h1>আইসিটি </h1>
            </div>
            <p>
                তথ্য ও যোগাযোগ প্রযুক্তি বা আইসিটি
            </p>
        </div>
        <div class="desc_bottom">
           
            
            <a href="~/ict/ictTutorial/home/" class="next_page">Learn ICT <span class="raquo">&raquo;</span></a>
        </div>
    </div>
    @*<div class="float_right demo">

    </div>*@
</div>
