
<div class="lang_box" id="jQueryId">
    <div class="float_left desc">
        <div class="desc_top">
            <div class="lang_icon">
                <h1>জেকুয়েরি</h1>
            </div>
            <p>
                জেকুয়েরি "খুবই সহজ এবং কথা কম কাজ বেশি" <a href="jqeury.com" target="_blank">jqeury docs</a> টাইপের একটি জাভাস্ক্রিপ্ট লাইব্রেরী।
                এটার মূল উদ্দেশ্যই হচ্ছে আপনার ওয়েবসাইটে জাভাস্ক্রিপ্টের ব্যবহার সহজ করা।<br />
                জাভাস্ক্রিপ্টের অসংখ্য লাইব্রেরী/ফ্রেমওয়ার্ক রয়েছে। কিন্তু জেকুয়েরি অনেক জনপ্রিয়। কারণ এটি জাভাস্ক্রিপ্টের একটি সিদ্ধ লাইব্রেরী।
            </p>

            <div class="intro">
                ডান পাশের ডিভ এলিমেন্টস গুলোতে জেকুয়েরি প্রয়োগ করা যাক। এবং ওয়েবসাইটে জেকুয়েরির প্রভাব দেখুন।
            </div>
        </div>
        <div class="desc_bottom">
            <div class="lang_syntax_header">
                <h4>জেকুয়েরি প্রোগ্রামিং ভাষার সিনটেক্স</h4>
            </div>
            <div class="tutorial_example ex_box">
                <div class="j_line"><span class="jq_dollar">$</span>(document).ready (<span class="var_function">function</span>{ </div>
                
                <div class="j_line">
                    <span class="j_func_span">
                        <i >
                            // jQuery methods go here...</i>
                    </span>
                    <br/>
                    <span class="js_jq_curley_bracet">});</span>
                </div>
            </div>

            <a href="~/jquery/jqueryTutorial/jq/" class="next_page">জেকুয়েরি শিখুন <span class="raquo">&raquo;</span></a>
        </div>
    </div>
    <div class="float_right demo fix">
        <div style="" class="fix">
            <div class="jq_ex fix">
                <h3>জেকুয়েরি অ্যানিমেশন</h3>
                <button id="jqAnimateExBtnId">রান অ্যানিমেশন</button>
                <div id="jqAnimation" style="margin-top: 20px;">ওয়েব স্কুল</div>
                <p class="animateP">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et
                </p>
            </div>
            <div class="jq_ex fix">
                <h3>জেকুয়েরি স্লাইড্</h3>
                <button id="jqSlideExBtnId">স্লাইড করুন!</button>
                <div id="jqSlide" style="margin-top: 20px;">
                    <h4>ওয়েব স্কুল</h4>
                    <p>Slide me up!</p>
                </div>
            </div>
        </div>
        <div class="jqAndAjaxEx fix">
            <h3>জেকুয়েরি AJAX উদাহরণ!</h3>
            <button id="jqAndAjaxExBtnId">AJAX ব্যবহার করে অন্য ফাইল থেকে বাহ্যিক কন্টেন্ট নিয়ে আসুন!</button>
            <button id="clearBtnId">রিসেট</button>
            <div id="jqAjaxResult"></div>
        </div>
        <a href="#sqlId">এসকিউএল পড়ুন &raquo;</a>
    </div>
</div>