
<div class="lang_box" id="javaScriptId">
    <div class="float_left desc">
        <div class="desc_top">
            <div class="lang_icon">
                <h1>জাভাস্ক্রিপ্ট</h1>
            </div>
            <p>
                জাভাস্ক্রিপ্ট!<br />
                জাভা প্রোগ্রামিং ভাষার সাথে বিভ্রান্ত হবেন না!<br><br>
                জাভাস্ক্রিপ্ট একটি ওবজেক্ট-ওরিয়েন্টেড, ডায়নামিক প্রোগ্রামিং ভাষা। এতে আছে ডেটা টাইপ, অপারেটর,
                গুরুত্বপূর্ণ কিছু অবজেক্ট (যেগুলো সব সময় আপনি ব্যবহার করতে পারবেন) আর ফাংশন বা মেথড।
                জাভা আর সি প্রোগ্রামিং ভাষা থেকে বেশ কিছু
                সিনট্যাক্স ধার করে নেওয়ায় যারা এসব ভাষায় পারদর্শী তাদের জন্য এটি শেখা তুলনামূলকভাবে সহজ।
            </p>


            <div class="intro">
                ডান পাশের ডিভ এলিমেন্টস গুলোতে জাভাস্ক্রিপ্ট কোড প্রয়োগ করা যাক। এবং ওয়েবসাইটে জাভাস্ক্রিপ্টের প্রভাব দেখুন।
            </div>

        </div>
        <div class="desc_bottom">
            <div class="lang_syntax_header">
                <h4>জাভাস্ক্রিপ্ট প্রোগ্রামিং ভাষার সিনটেক্স</h4>
            </div>
            <div class="tutorial_example ex_box">

                <div class="j_line"><span class="var_function">var</span> x, y, z;</div>
                <div class="j_line">x = 5; y = 6;</div>
                <div class="j_line">z = x + y;</div>
                <br />
                <div class="j_line">
                    <span class="var_function">function</span> ()<span class="js_jq_curley_bracet">
                        {
                        <span class="j_func_span">
                            <br />
                            <i>//statements 1...</i>
                            <br />
                            <i>//statements 2...</i>
                            <br />
                            <i>//statements 3...</i>
                        </span>
                    </span>
                    <br />
                    <span class="js_jq_curley_bracet"> }</span>
                </div>

            </div>

            <a href="~/javascript/javascriptTutorial/js/" class="next_page">জাভাস্ক্রিপ্ট শিখুন <span class="raquo">&raquo;</span></a>
        </div>
    </div>
    <div class="float_right demo fix">
        <div class="js_ex_1 fix">
            <h3>জেএস উদাহরণ ০১</h3>
            <p>Let's change image attribute value by hovering on thumbnail images.</p>
            <div class="js_ex_main_img_box fix float_right" id="mainImageId">
                <img src="~/Images/ws_logo1.jpg" />
            </div>
            <div class="js_ex_thumbnails fix float_left" id="thumnailImageId">
                <img src="~/Images/ws_logo1.jpg" />
                <img src="~/Images/img_avatar3.png" />
                <img src="~/Images/ws_logo2.jpg" />
                <img src="~/Images/img_band_chicago.jpg" />
                <img src="~/Images/boy.jpg" />
                <img src="~/Images/p1.jpg" />
            </div>
        </div>

        <div class="js_ex_2 fix">
            <h3>জেএস উদাহরণ ০২</h3>
            <p>তালিকা যোগ করুন এবং আইটেম মুছে দিন।</p>
            <div class="float_left width_half">
                <button id="jsNewItemAddBtn">নতুন আইটেম যোগ করুন</button>
                <ul id="newItemAddMenu">
                    <li>Old Item 1</li>
                    <li>Old Item 2</li>
                    <li>Old Item 3</li>
                </ul>
            </div>

            <div class="float_right width_half">
                <button id="jsItemDltBtn">আইটেম মুছে দিন</button>
                <ul id="oldItemDltMenu">
                    <li>Old Item</li>
                    <li>Old Item</li>
                    <li>Old Item</li>
                </ul>
                <div class="no_item_error" style="padding: 5px; font-size: 24px;font-weight: bold"></div>
            </div>
        </div>

        <div class="fix">
            <h3>জেএস উদাহরণ ০৩</h3>
            <p>ডিভ এলিমেন্টে ক্লাস যোগ করুন এবং রিমুভ ফেলুন।</p>
            <button id="addRemoveClass">নীচের ডিভ এলিমেন্টে ক্লাস টগল করুন</button>
            <br />
            <div class="js_ex_adCl_box1"></div>
            <div class="js_ex_adCl_box2"></div>

        </div>
        <a href="#jQueryId">জেকুয়েরি দেখুন &raquo;</a>
    </div>
</div>