<header id="header">
    <div class="float_left">
        <ul class="top_menu webschools_logo">
            <li><a href="~/Index/Index"><i class="fa fa-home"></i></a></li>
        </ul>
    </div>
    <div class="top_menu_webschool_middle_logo hide_lg_devices">
        <ul class="top_menu">
            <li><a href="~/Index/Index">ওয়েবস্কুলস.কম.বিডি</a></li>
        </ul>
    </div>
    <nav class="float_right hide_sm_devices">
        <ul class="top_menu">
            <li><a href="~/Html/HtmlTutorial/Index/"><span> <i class="fa fa-html5"></i></span> এইচটিএমএল</a></li>
            <li><a href="~/Css/CssTutorial/Index/">CSS <span> <i class="fa fa-css3"></i></span></a></li>
            <li><a href="~/JavaScript/JavaScriptTutorial/Js/">Javascript <span class="js_logo"><i class="fa fa-js-square"></i> JS</span></a></li>
            <li><a href="/jquery/jqueryTutorial/jq/jq_default">Learn Jquery</a></li>
            <li><a href="~/HowTo/LearnHowto/Index/">Learn How To</a></li>
        </ul>
    </nav>
    <!-- Toggle Bars Icon #toogle_button-->
    <div class="float_right hide_lg_devices">
        <ul class="top_menu" id="toogle_button">
            <li><a href="javascript:void(0)"><i class="fa fa-th-list"></i></a></li>
        </ul>
    </div>
</header>