
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_D.cshtml";
}
<style>
    .ws_greating{
        display: none;
    }
    #navMenuId{
        display: none;
    }
</style>

<div class="well" style="height: 100vh; margin: 20px 0">
    <div class="col-md-3" style="border: 1px solid #ddd;">
        <div class="">
            <img src="~/Images/me.jpg" style="width: 100%;height: 200px;object-fit: cover; border-radius: 3px;" />
        </div>
        <div class="t_details" style="padding: 10px;">
            <h3>Md Towhid</h3>
            <h4 class="text-muted text-capitalize">Web developer</h4>
            <p class="text-justify" style="font-size: 10pt;">
                Passionate at web design, development, building and customization.
                I am good at .Net framework. I love to talk with you about my unique.
            </p>
        </div>
    </div>

    <div class="col-md-3" style="border: 1px solid #ddd;margin-left: 10px">
        <div class="">
            <img src="" style="width: 100%;height: 200px;object-fit: cover; border-radius: 3px;" />
        </div>
        <div class="t_details" style="padding: 10px;">
            <h3>Hannan Chowdhury</h3>
            <h4 class="text-muted">Tutorials controller</h4>
            <p style="font-size: 10pt;">
                
            </p>
        </div>
    </div>
</div>

