* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}

/*li a:hover:not(.active) {  
    background-color: #111;  
}*/

body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.clear_both {
    clear: both;
}

.float_left {
    float: left !important;
}

.float_right {
    float: right !important;
}

.fix {
    overflow: hidden;
}

.display_block {
    display: block !important;
    transition: .5s all ease;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.container_wrapper {
    width: 100%;
    position: relative;
}

.container_fixed {
    width: 1100px;
    position: relative;
    margin: 0 auto;
}

.headerBg {
    position: fixed;
    top: 0;
    background: #24292E;
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}


#header {
    background: #24292E;
    width: 100%;
    position: relative;
}

    #header .logo {
        color: #DEE4C3;
        float: left;
        font-size: 36px;
        margin-top: 4px;
    }

        #header .logo a {
            color: #DEE4C3;
            display: block;
        }

            #header .logo a:hover {
                color: #AAAD98;
            }

    #header .lg_devices_menu {
        list-style-type: none;
        height: 44px;
        float: left;
    }

        #header .lg_devices_menu li {
            float: left;
        }

            #header .lg_devices_menu li a {
                display: block;
                color: #DEE4C3;
                text-decoration: none;
                padding: 20px 10px;
                font-size: 20px;
                font-family: 'Segoe UI',Arial,sans-serif;
                margin-top: 0px;
                overflow: hidden;
            }

        #header .lg_devices_menu:hover {
            color: #AAAD98;
        }


        #header .lg_devices_menu li a:hover {
        }

    #header .toogle_icon_wrapper {
        color: #DEE4C3;
        float: right;
        font-size: 30px;
        margin-top: 8px;
        display: none;
        cursor: pointer;
    }

        #header .toogle_icon_wrapper:hover {
            color: #AAAD98;
        }

.sm_devices_menu {
    list-style-type: none;
    margin-top: 60px;
}

#navbar {
    display: none;
}

.sm_devices_menu li {
    width: 100%;
}

    .sm_devices_menu li a {
        display: block;
        color: #DEE4C3;
        text-decoration: none;
        text-align: center;
        padding: 15px 10px;
        font-size: 20px;
        font-family: 'Segoe UI',Arial,sans-serif;
    }

        .sm_devices_menu li a:hover {
            color: #AAAD98;
        }

.web_school_details {
    width: 40%;
    color: white;
    padding: 140px 0px;
    color: #DEE4C3;
    float: left;
    font-size: 16px;
}

    .web_school_details h3 {
        font-size: 32px;
        margin-bottom: 20px;
        line-height: 47px;
        text-align: left;
    }

    .web_school_details p {
        color: #DEE4C3;
        line-height: 30px;
        text-align: left;
    }

.web_school_carousel {
    width: 45%;
    height: 440px;
    float: right;
    margin-top: 70px;
    border-radius: 8px;
    transition: .5s;
    text-align: center;
    color: #DEE4C3;
    border: 1px solid white;
    font-size: 16px;
}

    .web_school_carousel:hover {
        border: 1px solid #C8C9AC;
        transition: 1s;
    }

.webschool {
    display: none;
}

.slides_box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    animation: animateFade 1s linear;
    text-align: left;
    line-height: 25px;
}

@keyframes animateFade {
    from {
        transform: scale(1.03);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.slides_box .center {
    padding: 11px;
    width: 95%;
    height: 95%;
    animation: animateSlideBoxCenter 1s linear;
    transition: 1s;
}

.slides_details > .tutorial_page_button_wr a {
    background: transparent;
    border: 1px solid white;
    color: #DEE4C3;
    transition: .5s;
}

    .slides_details > .tutorial_page_button_wr a:hover {
        border: 1px solid blueviolet;
    }
/*@keyframes animateSlideBoxCenter {
    from {
        left: -50%;
        opacity: 0;
    }
    to {
        left: 0%;
        opacity: 1;
    }
}

*/






.slides_details {
    padding: 10px;
}




.tutorial_box {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
}

.toggle_on_sm {
    display: none;
}

.tutorial_box h2 {
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;
}

.tutorial_box p {
    font-style: italic;
    opacity: .8;
    font-size: 15px;
}

.tutorial_details {
    text-align: center;
}

.tutorial_details {
    width: 47%;
    height: auto;
    float: left;
    padding: 17px 0;
    text-align: left;
}

    .tutorial_details p {
        font-style: normal;
        font-size: 17px;
    }



    .tutorial_example hr {
        margin-top: 8px;
        margin-bottom: 10px;
    }

.tutorial_page_button_wr a {
    background: #ccc;
    color: #800000;
    transition: .5s;
    text-decoration: none;
    clear: left;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.tutorial_example a:hover {
    background: #eee;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.tutorial_example_output {
    width: 100%;
    height: auto;
}

.footerBg {
    
}
#footer{
    position: fixed;
    bottom: 0;
    z-index: 2;
    height: 90vh;
    overflow-y: scroll;
    scrollbar-color: red;
    scrollbar-width: thin;
}
    #footer::-webkit-scrollbar{
        width: 2px;
    }
#footer::-moz-scrollbar{
    width: 2px;
}
    .social_wrapper {
        width: 100%;
        height: 65px;
        background: #3C4D58;
        position: relative;
        line-height: 45px;
    }

.social_menu {
    width: 300px;
    margin: 0 auto;
}
.social_menu li{
    float: left;
}
.social_menu li a{
        display: block;
    overflow: hidden;
    padding: 10px 18px;
    font-size: 25px;
    color: #9E9E9E;
    transition: 0s;
}
.social_menu li:nth-child(1) a:hover {
    color: #3A5C9F;
}
.social_menu li:nth-child(2) a:hover {
    color: #0079B7;
}
.social_menu li:nth-child(3) a:hover {
    color: #DC4B37;
}
.social_menu li:nth-child(4) a:hover {
    color: #00AEED;
}
.social_menu li:nth-child(5) a:hover {
    color: #3E749E;
}

.footer_nav_wrapper {
    position: relative;
    width: 100%;
    height: auto;
    background: #303D46;
    color: white;
}
.footer_fixed{
    width: 900px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
}
.footer_menu {
    width: 215px;
}
.footer_menu li{
    
}
.footer_menu li p{
    color: #969696;
    margin-bottom: .5rem;
    font-family: lato;
    opacity: .8;
}
.footer_menu li a{
    display: block;
    color: white;
    overflow: hidden;
    padding: 3px 0;
    opacity: .8;
}
.footer_menu li a:hover {
    opacity: .9;
}
.footer_copy_right {
    width: 100%;
    height: auto;
    background: #242D33;
    color: white;
    text-align: center;
    position: relative;
}

.copy_right {
    width: 900px;
    margin: 0 auto;
    margin-top: 15px;
}
.end_footer p {
    margin-bottom: .5rem;
    opacity: .8;
}
.end_footer span {
    display: inline-block;
}
.end_footer span:after {
    content: '';
    position: absolute;
    width: 3.5rem;
    background: #3C4D58;
    height: 3px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.end_footer h3 {
    font-size: 1.5rem;
    opacity: .8;
}






.tutorials_wrapper {
    background: #ddd;
}
/*all language syntext classes*/
.ang_color {
    color: #0000FF;
    font-size: 20px;
}

.tag_name_color {
    color: #800000;
    font-size: 17px;
}

.tag_text {
    font-size: 16px;
    color: #262626;
}

.css_curley_bracet {
    color: black;
    font-weight: bold;
}

.css_property {
    font-size: 17px;
    margin-left: 20px;
}

/*For jQuery*/
.trigger {
    width: 100%;
    background: #2B3137;
    color: #DEE4C3;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    margin-top: 15px;
}

.trigger_element {
    position: relative;
    width: 100%;
    background: #2B3137;
    color: #DEE4C3;
    padding: 10px;
    margin-bottom: 20px;
}

.js_logo {
    background: black;
    color: white;
    text-align: center;
    margin-left: 10px;
}

/*Html Tutorials*/

/*.overlay {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 630px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    display: none;
}*/

.cancel {
    position: absolute;
    right: 10px;
    top: 0px;
    font-weight:bold;
    color: white;
    cursor: pointer;
    font-size: 35px;
}

.tutorial_menu_wrapper {
    width: 0;
    height: 630px;
    background: #FFFFFF;
    color: #444444;
    position: fixed;
    overflow: scroll;
}
.tutorial_heading .cancel {
    position: fixed;
    color: #600f0f;
    left: 200px;
    top: 50px;
    display: inline-table;
}

.tutorial_heading {
    width: 100%;
    height: 50px;
    position: relative;
}
    .tutorial_heading h4 {
        position: absolute;
        font-size: 21px;
        padding: 7px 14px;
        margin: 12px 0px 10px;
        color: #292C2F;
    }
.tutorial_menu {
    margin-top: 10px;
}

.tutorial_menu_wrapper ul li a {
    display: block;
    overflow: hidden;
    padding: 5px 15px;
    color: #444444;
    font-size: 16px;
}

    .tutorial_menu_wrapper ul li a:hover {
        background: #CCCEDB;
    }

#toggle_tutorial_menu {
    position: relative;
}

    #toggle_tutorial_menu::before {
        font-family: FontAwesome;
        content: '\f038';
        position: fixed;
        top: 60px;
        left: 4px;
        font-size: 30px;
        text-align: center;
        color: #009688;
        cursor: pointer;
        border-radius: 50%;
        line-height: 30px;
        transition: .6s;
        transform: translate(86%, 50%);
        z-index: 1;
    }

    #toggle_tutorial_menu:hover:before {
        color: #4CAF50;
        transition: .5s;
    }


.close_tutotials_menu {
    position: fixed;
    left: 220px;
    font-size: 32px;
    transform: translate(-75%, -10%);
    cursor: pointer;
    display: none;
}

    .close_tutotials_menu:hover {
        color: #DD5044;
    }

.toogle_left {
    margin-left: -14px;
    transition: 1s !important;
}

.tutorial_box {
    font-size: 17px;
}

.tutorials h3 {
    font-size: 22px;
}

.tutorial_box .tutorial_example {
}

.tutorials {
    width: 46%;
    float: left;
    line-height: 30px;
    /*border: 1px solid #D5D5D6;*/
}

    .tutorials hr {
        margin-bottom: 10px;
    }

.example_explanation {
    line-height: 30px;
    padding: 15px 0px;
}

.nextPrevSectionWrapper {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #aaa;
    box-shadow: 0 3px 2px #777;
}
.nextPrevArticleWrapper {
    width: 96.5%;
    margin: 0 auto;
}
.nextPrev {
    height: 50px;
    padding: 10px 0;
}


.aboutMe {
    width: 50%;
    float: right;
    background: red;
    height: 100%;
}


/*Forms Styles*/


.velidationError {
    color: red;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    text-align: center;
    display: inline-block;
}

.regFormStyle {
    width: 60%;
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 3px;
}
.regFormStyle h4 {
    padding-bottom: 5px;
}
input[type="checkbox"] {
    padding: 10px;
}

.gotoTop .scrollTop {
    width: 40px;
    position: fixed;
    bottom: 80px;
    right: 11px;
    height: 40px;
    background: #ddd;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    z-index: 3;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}



/*Try It Page*/
.try_it_body_color{
    background: #535353;
}

.try_it_button {
    background: #F1F1F1;
    padding: 5px 10px;
    color: #000;
    display: table;
    margin: 10px 0px 0px;
    border: none;
}

.editor_wrapper{
    width: 100%;
    margin: 0 auto;
}
.editor{
    width: 96%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 45px;
}
.editor_codes:focus {
    overflow-y: scroll;
}

.editor_codes, #editor_result, #sql_editor_result {
    width: 49%;
    float: left;
    height: 90vh;
    border: none;
    outline: none;
    padding: 10px;
    font-family: consolas;
    background: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
#editor_result, #sql_editor_result {
    float: right;
    overflow-y: scroll;
}
    .try_it_menu {
        width: 200px;
        height: 35px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }
.try_it_menu li{
    color: white;
    cursor: pointer;
    float: left;
    line-height: 35px;
}

.toggle_editor_color{
    margin-left: 10px;
}
    .toggle_editor_color span {
        display: block;
        width: 50px;
        height: 35px;
        text-align: center;
        overflow: hidden;
    }
    .toggle_editor_color.active1 {
        transform: translateY(-35px);
    }
.editor_codes.light, #editor_result.light, #sql_editor_result.light {
    background: white;
    color: #0000ff;
}
body.t_b_color {
    background: #ddd;
    color: black;
}
.toggle_editor_color span:nth-child(2) {
    background: black;
    color: white;
}
#run_button{
    width: 100px;
    height: 100px;
    background: #ccc;
    font-weight: 900;
    color: black;
    text-align: center;
}






